<div class="form">
	<input type="text" name="title" placeholder="Добавьте город" >
	<button type="button">Добавить</button>
</div>

<br/>

<div class="city-list">
	<div class="list-item">
		<input type="checkbox">
		<label>Москва</label>
		<div class="list-item__weather">
			Температура: 20 C, Ветер: 0 м/с
		</div>
		<button type="button" ><span>Удалить город</span></button>
	</div>
	<br/>
	<div class="list-item">
		<input type="checkbox">
		<label>Москва</label>
		<div class="list-item__weather">
			Температура: 20 C, Ветер: 0 м/с
		</div>
		<button type="button" ><span>Удалить город</span></button>
	</div>
	<br/>
	<div class="list-item">
		<input type="checkbox">
		<label>Москва</label>
		<div class="list-item__weather">
			Температура: 20 C, Ветер: 0 м/с
		</div>
		<button type="button" ><span>Удалить город</span></button>
	</div>
	<br/>
</div>