<div class="form">
	<input type="text" name="title" placeholder="Добавьте город" (keyup.enter)="addCity('&q='+titleInput.value); titleInput.value = ''" #titleInput>
	<button type="button" (click)="addCity('&q='+titleInput.value); titleInput.value = ''">Добавить</button>
</div>


<div class="city-list">
	<div class="list-item" *ngFor="let city of cities">
		<br/>
		<input type="checkbox">
		<label>{{ city.name }}</label>

		<div class="list-item__weather">
			Температура: {{city.temperature}} C, ветер: {{city.windSpeed}} м/с
		</div>
		<button type="button" (click)="deleteCity(city.name);"><span>Удалить город</span></button>
	</div>
</div>