<div class="form">
	<input type="text" name="title" placeholder="Добавьте город" (keyup.enter)="addCity(titleInput.value); titleInput.value = ''" #titleInput>
	<button type="button" (click)="addCity(titleInput.value); titleInput.value = ''">Добавить</button>
</div>


<div class="city-list">
	<div class="list-item" *ngFor="let city of cities">
		<br/>
		<input type="checkbox">
		<label>{{ city }}</label>

		<div class="list-item__weather">
			Температура: 20 C, Ветер: 0 м/с
		</div>
		<button type="button" (click)="deleteCity(city);"><span>Удалить город</span></button>
	</div>
</div>